In [169]:
# Libraries and dependencies
import numpy as np
import pandas as pd

In [170]:
# Read in the input files:
new_york_df = pd.read_csv('new_york_size.csv', skiprows=1)
bronx_df = pd.read_csv('bronx_size.csv', skiprows=1)
kings_df = pd.read_csv('kings_size.csv', skiprows=1)
queens_df = pd.read_csv('queens_size.csv', skiprows=1)
Richmond_df = pd.read_csv('Richmond_size.csv', skiprows=1)

In [171]:
# Change all the Id, i.e Id2 value, into integers:
for df in [new_york_df, queens_df, bronx_df, kings_df , Richmond_df]:
    df['Id2'] = df['Id2'].astype('int')

In [172]:
# Generate average household size for each dataframe, i.e adding a column in the dataframe:
# for dataframe in dataframe_list:
#     dataframe['avg_hh'] = dataframe['total hh num']/dataframe['total hhsize']
new_york_df['avg_hh'] = new_york_df['total hh num']/ new_york_df['total hhsize']
bronx_df['avg_hh'] = bronx_df['total hh num']/ bronx_df['total hhsize']
queens_df['avg_hh'] = queens_df['total hh num']/ queens_df['total hhsize']
kings_df['avg_hh'] = kings_df['total hh num']/kings_df['total hhsize']
Richmond_df['avg_hh'] = Richmond_df['total hh num']/ Richmond_df['total hhsize']

In [173]:
# Further clean the data by eliminating rows containing NaN:
new_york_df = new_york_df[~np.isnan(new_york_df).any(axis=1)]
bronx_df = bronx_df[~np.isnan(bronx_df).any(axis=1)]
queens_df = queens_df[~np.isnan(queens_df).any(axis=1)]
kings_df = kings_df[~np.isnan(kings_df).any(axis=1)]
Richmond_df = Richmond_df[~np.isnan(Richmond_df).any(axis=1)]

In [174]:
# Calculate the percentage for each household for each dataframe
for df in [new_york_df, queens_df, bronx_df, kings_df , Richmond_df]:
    for i in range(1,7):
        df['percentage_' + str(i)] = df[str(i)]/df['total hhsize']

In [175]:
# Read in the TAZ data:
TAZ = pd.read_csv('TAZ_Household_size-1.csv')
new_york_TAZ = TAZ.loc[0:317]
queens_TAZ = TAZ.loc[318:751]
bronx_TAZ = TAZ.loc[752:1024]
kings_TAZ = TAZ.loc[1025:1537]
Richmond_TAZ = TAZ.loc[1538:1621]

In [206]:
# The following function aims to match TAZ with corresponding block:
def matching(block_df, TAZ_input):
    # Construct a dict to store all the ID of the residential block and its average hh value:
    block_dict = {}
    for block_row in block_df.itertuples(index=True, name='Pandas'):
        block_dict[getattr(block_row, "avg_hh")] =  getattr(block_row, "Id2")  
    matches = {}
    # Initialize a empty dataframe which to be added to new_york_TAZ:
    columns = ['1','2','3','4','5', '6', '7','avg_hh']
    rows = []
    
    # Iterate through the TAZ table:
    
    for taz_row in TAZ.itertuples(index = True, name = 'Pandas'):

        current_hh_target = getattr(taz_row, 'HHSIZE')

        current_taz_id = getattr(taz_row, 'TAZ')

        # Find the closest element in the list according to the target number
        closest_key = min(block_dict.keys(), key=lambda x:abs(x-current_hh_target))
        

        # Retrieve the value stored corresponding to the key, which is the block id:
        current_block_id = block_dict[closest_key]

        matches[current_taz_id] = current_block_id

        row = block_df[block_df['Id2'] == current_block_id][columns].values.tolist()
        row = row[0]
        rows.append(row)
        # Remove the items from block_dict since we could not use the same block_id again:
        block_dict.pop(closest_key)
    
    # Construct a new dataframe to include all these rows:
    to_be_added = pd.DataFrame(rows, columns = columns)
    result = pd.concat([TAZ, to_be_added],axis = 1)
    
    return result

In [207]:
result_ny = matching(new_york_df, new_york_TAZ)
result_queens = matching(queens_df, queens_TAZ)
result_bronx = matching(bronx_df, bronx_TAZ)
result_kings = matching(kings_df, kings_TAZ)
result_Richmond = matching(Richmond_df, Richmond_TAZ)

In [208]:
result_queens

,TAZ,HHNUM,HHSIZE,1,2,3,4,5,6,7,avg_hh
0,NaN,NaN,NaN,12.0,259.0,117.0,25.0,0.0,0.0,0.0,2.547215
1,NaN,NaN,NaN,565.0,187.0,225.0,95.0,0.0,26.0,0.0,2.102914
2,NaN,NaN,NaN,202.0,135.0,96.0,24.0,35.0,10.0,0.0,2.324701
3,NaN,NaN,NaN,252.0,322.0,148.0,48.0,29.0,11.0,0.0,2.296296
4,NaN,NaN,NaN,15.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000
5,NaN,NaN,NaN,153.0,124.0,77.0,61.0,15.0,0.0,0.0,2.283721
6,NaN,NaN,NaN,13.0,67.0,11.0,16.0,0.0,0.0,0.0,2.373832
7,NaN,NaN,NaN,212.0,100.0,69.0,0.0,14.0,7.0,0.0,2.203980
8,NaN,NaN,NaN,238.0,146.0,98.0,25.0,20.0,6.0,0.0,2.245779
9,NaN,NaN,NaN,65.0,97.0,32.0,51.0,9.0,0.0,5.0,2.706564
10,NaN,NaN,NaN,594.0,161.0,103.0,71.0,82.0,0.0,0.0,1.983185
11,NaN,NaN,NaN,317.0,168.0,90.0,49.0,0.0,0.0,0.0,1.894231
12,NaN,NaN,NaN,68.0,133.0,122.0,110.0,72.0,5.0,7.0,3.247582
13,NaN,NaN,NaN,202.0,256.0,129.0,105.0,79.0,37.0,0.0,2.866337
14,NaN,NaN,NaN,25.0,77.0,10.0,19.0,14.0,0.0,0.0,2.517241
15,NaN,NaN,NaN,320.0,237.0,53.0,42.0,17.0,15.0,0.0,2.011696
16,NaN,NaN,NaN,278.0,534.0,116.0,14.0,37.0,0.0,0.0,2.083759
17,NaN,NaN,NaN,128.0,175.0,48.0,15.0,9.0,8.0,0.0,2.154047
18,NaN,NaN,NaN,246.0,235.0,127.0,69.0,0.0,0.0,0.0,2.113737
19,NaN,NaN,NaN,205.0,195.0,86.0,123.0,17.0,0.0,0.0,2.424920
20,NaN,NaN,NaN,367.0,199.0,93.0,39.0,20.0,41.0,19.0,2.377892
21,NaN,NaN,NaN,214.0,183.0,72.0,75.0,0.0,0.0,0.0,2.156250
22,NaN,NaN,NaN,409.0,225.0,194.0,151.0,18.0,11.0,0.0,2.323413
23,NaN,NaN,NaN,252.0,206.0,55.0,0.0,0.0,0.0,0.0,1.680312
24,NaN,NaN,NaN,143.0,95.0,74.0,100.0,6.0,0.0,0.0,2.535885
25,NaN,NaN,NaN,65.0,54.0,69.0,23.0,15.0,0.0,0.0,2.592920
26,NaN,NaN,NaN,281.0,245.0,201.0,156.0,48.0,0.0,0.0,2.524168
27,NaN,NaN,NaN,279.0,207.0,212.0,81.0,0.0,16.0,0.0,2.314465
28,NaN,NaN,NaN,173.0,82.0,60.0,81.0,0.0,0.0,0.0,2.219697
29,NaN,NaN,NaN,143.0,108.0,160.0,0.0,0.0,0.0,12.0,2.434988
...,...,...,...,...,...,...,...,...,...,...,...
722,723.0,1212.8,3.118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
723,724.0,997.8,3.448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724,725.0,1092.0,3.358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
725,726.0,1075.8,3.338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
726,727.0,177.0,3.156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727,728.0,858.8,3.276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
728,729.0,1458.8,3.348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
729,730.0,995.8,3.276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
730,731.0,2956.4,3.268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
731,732.0,1020.8,3.266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
732,733.0,1484.8,3.196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
733,734.0,1016.8,3.218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
734,735.0,3794.4,3.388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
735,736.0,3050.2,3.558,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
736,737.0,1239.0,3.066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
737,738.0,5034.2,2.646,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
738,739.0,5293.8,2.454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
739,740.0,4555.6,2.876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
740,741.0,3038.2,3.106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
741,742.0,5677.0,2.426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
742,743.0,5690.0,2.094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
743,744.0,3885.0,2.566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
744,745.0,955.4,2.666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
745,746.0,1889.4,2.626,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
746,747.0,3.0,2.336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
747,748.0,61.4,3.146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
748,749.0,28.0,2.614,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
749,750.0,1278.6,3.106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
750,751.0,1142.0,3.176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
751,752.0,2708.6,2.376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN