This script matches the block with the TAZ and outputs the TAZ table with corresponding information

In [134]:
# Libraries and dependencies
import numpy as np
import pandas as pd

In [135]:
# Read in the input files:
# Parse in the dataframe and skip the first row
new_york_df = pd.read_csv('new_york_size.csv', skiprows=1)
new_york_df.head()
new_york_df['Id2'] = new_york_df['Id2'].astype('int')
new_york_df['avg_hh'] = new_york_df['total hh num']/ new_york_df['total hhsize']
new_york_df.head()
# Further clean the data by eliminating rows containing NaN:
new_york_df = new_york_df[~np.isnan(new_york_df).any(axis=1)]
# Calculate the percentage of different numbers of households:
for i in range(1,7):
    new_york_df['percentage_' + str(i)] = new_york_df[str(i)]/new_york_df['total hhsize']
new_york_df.head()

,Id2,1,2,3,4,5,6,7,total hhsize,total hh num,avg_hh,percentage_1,percentage_2,percentage_3,percentage_4,percentage_5,percentage_6
2,-167250853,58,86,48,72,0,20,5,289,1052,0.274715,0.200692,0.297578,0.166090,0.249135,0.000000,0.069204
3,-167250852,224,262,122,13,68,0,0,689,1618,0.425834,0.325109,0.380261,0.177068,0.018868,0.098694,0.000000
5,-167250843,86,63,15,58,0,0,0,222,534,0.415730,0.387387,0.283784,0.067568,0.261261,0.000000,0.000000
6,-167250842,313,349,177,55,22,0,0,916,2245,0.408018,0.341703,0.381004,0.193231,0.060044,0.024017,0.000000
7,-167250841,442,229,59,65,16,0,0,811,1547,0.524240,0.545006,0.282367,0.072750,0.080148,0.019729,0.000000

In [136]:
# Read in the TAZ data:
TAZ = pd.read_csv('TAZ_Household_size-1.csv')
# The first 318 TAZ belong to New York
new_york_TAZ = TAZ.head(318)
new_york_TAZ.head()

   TAZ   HHNUM  HHSIZE
0    1  4347.4   2.036
1    2  2215.2   2.216
2    3     0.0   0.000
3    4   722.0   1.906
4    5  3733.0   1.676

In [137]:
# Start matching the HH_SIZE for the avg_hh in the new_york_TAZ
# Construct a dict to store all the ID of the residential block and its average hh value:
block_dict = {}
for block_row in new_york_df.itertuples(index=True, name='Pandas'):
    block_dict[getattr(block_row, "avg_hh")] =  getattr(block_row, "Id2")
# print(block_dict)  
matches = {}
# Initialize a empty dataframe which to be added to new_york_TAZ:
columns = ['1','2','3','4','5', '6', '7','avg_hh']
rows = []

In [138]:
# Iterate through the TAZ table:
for taz_row in new_york_TAZ.itertuples(index = True, name = 'Pandas'):
    
    current_hh_target = getattr(taz_row, 'HHSIZE')
    
    current_taz_id = getattr(taz_row, 'TAZ')
    
    # Find the closest element in the list according to the target number
    closest_key = min(block_dict.keys(), key=lambda x:abs(x-current_hh_target))
    
    # Retrieve the value stored corresponding to the key, which is the block id:
    current_block_id = block_dict[closest_key]
    matches[current_taz_id] = current_block_id
    
    row = new_york_df[new_york_df['Id2'] == current_block_id][columns].values.tolist()
    row = row[0]
    rows.append(row)
    

    # Remove the items from block_dict since we could not use the same block_id again:
    block_dict.pop(closest_key)

In [144]:
# Fill in the table:
new_york_TAZ
# Combine two dataframe together

     TAZ   HHNUM  HHSIZE
0      1  4347.4   2.036
1      2  2215.2   2.216
2      3     0.0   0.000
3      4   722.0   1.906
4      5  3733.0   1.676
5      6  1732.2   1.814
6      7  2726.0   1.684
7      8     6.0   2.056
8      9  1237.8   2.236
9     10  1476.2   2.206
10    11  2829.2   2.126
11    12  3596.6   1.976
12    13  3137.4   1.804
13    14  2075.4   2.376
14    15     0.0   0.000
15    16     0.0   0.000
16    17   726.0   1.926
17    18   720.0   2.568
18    19  1757.6   1.964
19    20  3485.2   2.196
20    21   515.8   2.256
21    22  1441.2   1.796
22    23  2906.2   1.734
23    24  2387.4   1.834
24    25  3397.8   1.576
25    26  2082.2   1.846
26    27   996.4   1.644
27    28   445.8   1.966
28    29  3570.2   1.566
29    30  1307.0   1.896
..   ...     ...     ...
288  289   771.2   2.968
289  290  1387.4   2.788
290  291  3703.8   3.058
291  292  3549.0   3.440
292  293  2754.8   3.190
293  294     1.0   2.056
294  295  2204.4   2.496
295  296  3158.4   3.160
296  297  2858.6   2.898
297  298  3083.4   2.086
298  299  1443.2   1.996
299  300  1298.4   2.086
300  301  3758.6   2.768
301  302  2034.6   3.178
302  303  3034.4   2.538
303  304  2616.0   2.780
304  305  1629.2   2.506
305  306    49.0   2.978
306  307  3685.8   3.098
307  308  2883.8   3.168
308  309  1634.2   1.734
309  310  2052.4   1.676
310  311  1397.6   1.776
311  312  2098.4   1.796
312  313  3502.2   1.894
313  314  2588.0   1.716
314  315   261.2   1.786
315  316  4238.8   2.106
316  317  4558.8   2.226
317  318  3305.2   2.586

[318 rows x 3 columns]

In [150]:
to_be_added = pd.DataFrame(rows, columns = columns)
# Combine two dataframe together:
result = pd.concat([new_york_TAZ, to_be_added], axis = 1)
writer = pd.ExcelWriter('output.xlsx')
result.to_excel(writer,'Sheet1')
writer.save()