This script matches the block with the TAZ and outputs the TAZ table with corresponding information

In [2]:
# Libraries and dependencies
import numpy as np
import pandas as pd

In [3]:
# Read in the input files:
# Parse in the dataframe and skip the first row
new_york_df = pd.read_csv('new_york_size.csv', skiprows=1)
new_york_df.head()
new_york_df['Id2'] = new_york_df['Id2'].astype('int')
new_york_df['avg_hh'] = new_york_df['total hhsize']/new_york_df['total hh num']
new_york_df.head()
# Further clean the data by eliminating rows containing NaN:
new_york_df = new_york_df[~np.isnan(new_york_df).any(axis=1)]
# Calculate the percentage of different numbers of households:
for i in range(1,7):
    new_york_df['percentage_' + str(i)] = new_york_df[str(i)]/new_york_df['total hhsize']
new_york_df.head()

,Id2,1,2,3,4,5,6,7,total hhsize,total hh num,avg_hh,percentage_1,percentage_2,percentage_3,percentage_4,percentage_5,percentage_6
2,360610002011,58,86,48,72,0,20,5,289,1052,0.274715,0.200692,0.297578,0.166090,0.249135,0.000000,0.069204
3,360610002012,224,262,122,13,68,0,0,689,1618,0.425834,0.325109,0.380261,0.177068,0.018868,0.098694,0.000000
5,360610002021,86,63,15,58,0,0,0,222,534,0.415730,0.387387,0.283784,0.067568,0.261261,0.000000,0.000000
6,360610002022,313,349,177,55,22,0,0,916,2245,0.408018,0.341703,0.381004,0.193231,0.060044,0.024017,0.000000
7,360610002023,442,229,59,65,16,0,0,811,1547,0.524240,0.545006,0.282367,0.072750,0.080148,0.019729,0.000000

In [4]:
# Read in the TAZ data:
TAZ = pd.read_csv('TAZ_Household_size-1.csv')
# The first 318 TAZ belong to New York
new_york_TAZ = TAZ.head(318)
new_york_TAZ.head()

   TAZ   HHNUM  HHSIZE
0    1  4347.4   2.036
1    2  2215.2   2.216
2    3     0.0   0.000
3    4   722.0   1.906
4    5  3733.0   1.676

In [15]:
# Start matching the HH_SIZE for the avg_hh in the new_york_TAZ
# Construct a dict to store all the ID of the residential block and its average hh value:
block_dict = {}
for block_row in new_york_df.itertuples(index=True, name='Pandas'):
    block_dict[getattr(block_row, "avg_hh")] =  getattr(block_row, "Id2")

In [16]:
# Iterate through the TAZ table:
for taz_row in new_york_TAZ.itertuples(index = True, name = 'Pandas'):
    current_hh_target = getattr(taz_row, 'HHSIZE')
    closet_key = min(block_dict, key=lamba x:abs(x-current_hh_target))

SyntaxError: invalid syntax (<ipython-input-16-023f9eba177e>, line 4)