This script matches the block with the TAZ and outputs the TAZ table with corresponding information

In [39]:
# Libraries and dependencies
import numpy as np
import pandas as pd

In [40]:
# Read in the input files:
# Parse in the dataframe and skip the first row
new_york_df = pd.read_csv('new_york_size.csv', skiprows=1)
new_york_df.head()
new_york_df['Id2'] = new_york_df['Id2'].astype('int')
new_york_df['avg_hh'] = new_york_df['total hhsize']/new_york_df['total hh num']
new_york_df.head()
# Further clean the data by eliminating rows containing NaN:
new_york_df = new_york_df[~np.isnan(new_york_df).any(axis=1)]
# Calculate the percentage of different numbers of households:
for i in range(1,7):
    new_york_df['percentage_' + str(i)] = new_york_df[str(i)]/new_york_df['total hhsize']
new_york_df.head()

,Id2,1,2,3,4,5,6,7,total hhsize,total hh num,avg_hh,percentage_1,percentage_2,percentage_3,percentage_4,percentage_5,percentage_6
2,-167250853,58,86,48,72,0,20,5,289,1052,0.274715,0.200692,0.297578,0.166090,0.249135,0.000000,0.069204
3,-167250852,224,262,122,13,68,0,0,689,1618,0.425834,0.325109,0.380261,0.177068,0.018868,0.098694,0.000000
5,-167250843,86,63,15,58,0,0,0,222,534,0.415730,0.387387,0.283784,0.067568,0.261261,0.000000,0.000000
6,-167250842,313,349,177,55,22,0,0,916,2245,0.408018,0.341703,0.381004,0.193231,0.060044,0.024017,0.000000
7,-167250841,442,229,59,65,16,0,0,811,1547,0.524240,0.545006,0.282367,0.072750,0.080148,0.019729,0.000000

In [45]:
# Read in the TAZ data:
TAZ = pd.read_csv('TAZ_Household_size-1.csv')
# The first 318 TAZ belong to New York
new_york_TAZ = TAZ.head(318)
new_york_TAZ.head()

   TAZ   HHNUM  HHSIZE
0    1  4347.4   2.036
1    2  2215.2   2.216
2    3     0.0   0.000
3    4   722.0   1.906
4    5  3733.0   1.676

In [42]:
# Start matching the HH_SIZE for the avg_hh in the new_york_TAZ
# Construct a dict to store all the ID of the residential block and its average hh value:
block_dict = {}
for block_row in new_york_df.itertuples(index=True, name='Pandas'):
    block_dict[getattr(block_row, "avg_hh")] =  getattr(block_row, "Id2")
# print(block_dict)  
matches = {}

In [43]:
# Iterate through the TAZ table:
for taz_row in new_york_TAZ.itertuples(index = True, name = 'Pandas'):
    
    current_hh_target = getattr(taz_row, 'HHSIZE')
    
    current_taz_id = getattr(taz_row, 'TAZ')
    
    # Find the closest element in the list according to the target number
    closest_key = min(block_dict.keys(), key=lambda x:abs(x-current_hh_target))
    
    # Retrieve the value stored corresponding to the key, which is the block id:
    current_block_id = block_dict[closest_key]
    matches[current_taz_id] = current_block_id
    
    
    # Remove the items from block_dict since we could not use the same block_id again:
    block_dict.pop(closest_key)    
print(matches)

{1: -167118855, 2: -167133862, 3: -166955863, 4: -167126856, 5: -167164857, 6: -167174861, 7: -167174862, 8: -167106840, 9: -167136861, 10: -167095858, 11: -167220857, 12: -167113862, 13: -167186856, 14: -167174860, 15: -167190863, 16: -167047862, 17: -167156863, 18: -167115862, 19: -167161860, 20: -167128856, 21: -167103860, 22: -167175862, 23: -167069861, 24: -167131861, 25: -167154859, 26: -167106841, 27: -167093860, 28: -167114861, 29: -167175863, 30: -167159859, 31: -167134856, 32: -167161861, 33: -167113859, 34: -167214860, 35: -167164858, 36: -167069859, 37: -167186858, 38: -167214859, 39: -167114856, 40: -167118857, 41: -167205863, 42: -167113860, 43: -167164863, 44: -167173861, 45: -167118863, 46: -167106851, 47: -167222842, 48: -167164860, 49: -167172862, 50: -167125862, 51: -167186861, 52: -167179859, 53: -167126858, 54: -167125859, 55: -167075863, 56: -167154862, 57: -167128863, 58: -167165859, 59: -167146849, 60: -167170862, 61: -167165862, 62: -167171861, 63: -167179863, 64: -167152862, 65: -167113863, 66: -167180860, 67: -167185861, 68: -167208858, 69: -167188861, 70: -167182861, 71: -167182858, 72: -167186857, 73: -167095863, 74: -167073862, 75: -167144858, 76: -167204861, 77: -167040860, 78: -167187859, 79: -167095862, 80: -167154857, 81: -167166831, 82: -167178863, 83: -167151863, 84: -167222851, 85: -167172863, 86: -167107860, 87: -167095859, 88: -167098860, 89: -167220862, 90: -167097859, 91: -167113858, 92: -167108842, 93: -167191861, 94: -167146850, 95: -167237851, 96: -167203862, 97: -167113857, 98: -167222853, 99: -167091861, 100: -167067861, 101: -167114857, 102: -167051853, 103: -167081860, 104: -167160863, 105: -167071863, 106: -167214862, 107: -167141862, 108: -167186860, 109: -167115863, 110: -167121863, 111: -167166830, 112: -167218863, 113: -167120860, 114: -167197843, 115: -167126857, 116: -167131862, 117: -167220861, 118: -167130863, 119: -167188862, 120: -167171858, 121: -167120863, 122: -167165860, 123: -167180857, 124: -167178861, 125: -167095861, 126: -167122860, 127: -167177862, 128: -167125863, 129: -167179862, 130: -167184861, 131: -167142858, 132: -167172861, 133: -167061860, 134: -167159857, 135: -167218861, 136: -167212860, 137: -167078851, 138: -167140843, 139: -167193862, 140: -167098857, 141: -167158863, 142: -167131859, 143: -167140853, 144: -167106850, 145: -167166832, 146: -167148863, 147: -167179861, 148: -167120857, 149: -167193859, 150: -167089859, 151: -167091863, 152: -167162860, 153: -167185863, 154: -167162862, 155: -167185860, 156: -167098858, 157: -167106838, 158: -167097858, 159: -167131858, 160: -167075858, 161: -167186855, 162: -167163863, 163: -167099862, 164: -167093857, 165: -167131860, 166: -167096853, 167: -167189861, 168: -167017851, 169: -167171859, 170: -167122863, 171: -167087859, 172: -167149863, 173: -167159860, 174: -167134859, 175: -167212859, 176: -167115859, 177: -167053860, 178: -167208857, 179: -167136862, 180: -167170863, 181: -167214858, 182: -167179858, 183: -167159862, 184: -167093858, 185: -167119861, 186: -167144863, 187: -167203861, 188: -167181859, 189: -167213862, 190: -167123862, 191: -167097860, 192: -167098856, 193: -167011859, 194: -167067863, 195: -167099860, 196: -167106843, 197: -167172859, 198: -167164859, 199: -167077863, 200: -167216843, 201: -167065859, 202: -167079861, 203: -167189860, 204: -167116862, 205: -167240862, 206: -167193863, 207: -167198862, 208: -167086863, 209: -167081862, 210: -167100862, 211: -167120859, 212: -167102841, 213: -167154858, 214: -167159863, 215: -167196862, 216: -167198861, 217: -167140832, 218: -167173860, 219: -167195862, 220: -167188859, 221: -167116857, 222: -167146853, 223: -167119859, 224: -167146851, 225: -167173862, 226: -167142859, 227: -167208862, 228: -167118862, 229: -167181860, 230: -167101862, 231: -167182860, 232: -167116863, 233: -167155861, 234: -167153863, 235: -167075857, 236: -167163859, 237: -167121862, 238: -167038862, 239: -167130860, 240: -167146843, 241: -167159861, 242: -167127862, 243: -167065860, 244: -167181862, 245: -167061861, 246: -167126863, 247: -167093861, 248: -167014842, 249: -167135863, 250: -167059858, 251: -167202863, 252: -167220863, 253: -167194863, 254: -167180863, 255: -167181861, 256: -167179860, 257: -167091859, 258: -167117863, 259: -167189862, 260: -167162863, 261: -167091862, 262: -167119863, 263: -167114860, 264: -167083863, 265: -167177863, 266: -167164861, 267: -167118859, 268: -167097861, 269: -167110861, 270: -167184859, 271: -167116856, 272: -167219863, 273: -167239862, 274: -167189863, 275: -167175860, 276: -167014843, 277: -166999863, 278: -167134860, 279: -167132862, 280: -167152863, 281: -167084861, 282: -167071860, 283: -167186863, 284: -167089862, 285: -167093859, 286: -167155863, 287: -167142862, 288: -167011863, 289: -167134861, 290: -167218860, 291: -167040861, 292: -167075862, 293: -167123863, 294: -167162859, 295: -167093862, 296: -167237852, 297: -167132863, 298: -167108851, 299: -167119860, 300: -167085862, 301: -167197851, 302: -167112861, 303: -167099857, 304: -167128857, 305: -167101860, 306: -167120862, 307: -167127863, 308: -167108841, 309: -167182863, 310: -167100863, 311: -167210862, 312: -167215861, 313: -167125860, 314: -167138842, 315: -167146848, 316: -167214863, 317: -167107861, 318: -167087863}

In [48]:
# Fill in the table:
new_york_TAZ.reset_index(drop = True, inplace = True)
for row in new_york_TAZ